<div class="container  p-5" style="max-width: 800px;">
    <form action="/admin/product/{{product.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row d-flex justify-content-center">
            <div class="mb-4 text-center">
                <h1 class="h3 font-weight-normal mb-3">Edit Product</h1>
            </div>


            <div class="form-row mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="Enter name"
                    value="{{product.name}}" required>
            </div>
            <div class="form-row mb-3">
                <label class="form-label" for="categoryId">Category</label>
                <select class="form-select" aria-label="" id="categoryId" name="categoryId">
                    <option value="{{product.Category.id}}" selected>{{product.Category.name}}</option>
                    {{#each categories}}
                    {{#ifCond this.id ../product.Category.id}}
                    {{else}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/ifCond}}
                    {{/each}}
                </select>
            </div>
            <div class="form-row mb-3">
                <label for="form-label" for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image">

            </div>

            <div class="form-row mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="description"
                    rows="3">{{product.description}}</textarea>
            </div>
            <div class="form-row mb-3">
                <label class="form-label" for="quantity">Quantity</label>
                <input class="form-control" type="text" name="quantity" id="quantity" placeholder="Enter quantity"
                    value="{{product.quantity}}">
            </div>

            <div class="form-row mb-3">
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="text" name="price" id="price" placeholder="Enter price"
                    value="{{product.price}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
<div class="container p-5">
  <div class="row d-flex mb-5">

    <div class="col">
      <img class="img-responsive center-block mb-5" src="{{product.image}}"
        style="width: 500px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col">
      <h3>{{product.name}}</h3>
      <p>[{{product.Category.name}}]</p>
      <hr>
      <p style="white-space: break-spaces;">{{product.description}}</p>
      <h5>
        $ {{product.price}}
      </h5>
      <div class="d-flex align-items-center">
        <form action="/carts" method="POST" class="d-flex flex-column">
          <div class="input-group">
            <label class="input-group-text" for="quantity">Quantity</label>
            <select class="form-select" id="quantity" name="quantity">
              {{#if quantity}}
              {{#each quantity}}
              <option {{#ifCond 1 this}}selected{{/ifCond}} value="{{this}}">{{this}}</option>
              {{/each}}
              {{else}}
              <option disabled selected value="0"> 0</option>
              {{/if}}
            </select>
          </div>
          <input type="hidden" name="productId" value="{{product.id}}">
          {{#if quantity}}
          <button type="submit" class="btn btn-outline-success mt-2">Add to Cart</button>
          {{else}}
          <button type="submit" class="btn btn-outline-success mt-2" disabled>Add to Cart</button>
          {{/if}}
        </form>
      </div>
    </div>
    <hr>
  </div>
</div>