<div class="container" style="max-width: 950px;">
    <div class="step-container d-flex justify-content-center mt-5 mb-3">
        <div class="step">
            <span>1. Check Items</span>
        </div>
        <div class="line"></div>
        <div class="step step-now">
            <span>2. Add Shipping Info</span>
        </div>
        <div class="line"></div>
        <div class="step">
            <span>3. Confirm Order</span>
        </div>
    </div>
    <table class="table" style="vertical-align: middle;">
        <thead style="text-align: center;">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">SubTotal</th>
            </tr>
        </thead>

        <tbody style="text-align: center;">
            {{#each carts}}
            <tr>
                <td>
                    <img src="{{this.cartProducts.image}}" alt="" width="200px">
                </td>
                <td>{{this.cartProducts.name}}</td>
                <td>{{this.cartProducts.CartItem.quantity}}</td>
                <td>${{this.cartProducts.price}}</td>
                <td>
                    {{this.cartProducts.CartItem.quantity}}
                    *
                    {{this.cartProducts.price}}
                </td>
            </tr>
            {{/each}}
            <tr>
                <th scope="row"></th>
                <td colspan="2"></td>
                <td>Total:</td>
                <td>${{totalPrice}}</td>
            </tr>
            </thead>
        </tbody>
    </table>


    <div class="shipping-info mt-5" style="max-width: 550px;">
        <div class="mb-3">
            <h3>Shipping Info</h3>
        </div>
        <form class="order-info" action="/orders" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name">

            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <input type="hidden" name="cartId" value="{{cart.id}}">
            <input type="hidden" name="amount" value="{{totalPrice}}">
            <input type="hidden" name="shipping_status" value="0">
            <input type="hidden" name="payment_status" value="0">

            <a href="/carts" class="btn btn-secondary mx-2">Edit Cart</a>
            <button type="submit" class="btn btn-primary">Confirm Order</button>

        </form>



    </div>


</div>