<div class="container" style="max-width: 950px;">

        <div class="step-container d-flex justify-content-center mt-5 mb-3">
            <div class="step step-now">
                <span>1. Check Items</span>
            </div>
            <div class="line"></div>
            <div class="step">
                <span>2. Add Shipping Info</span>
            </div>
            <div class="line"></div>
            <div class="step">
                <span>3. Confirm Order</span>
            </div>

        </div>

        <table class="table" style="vertical-align: middle;">
            <thead style="text-align: center;">
                <tr>
                    <th scope="col">Cart ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col">Remove</th>

                </tr>
            </thead>

            <tbody style="text-align: center;">
                {{#each carts}}

                <tr>
                    <td> #{{this.id}}</td>
                    <td>
                        <img src="{{this.cartProducts.image}}" alt="" width="200px">
                    </td>
                    <td>{{this.cartProducts.name}}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/sub" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
                        </form>
                        <span style="margin: 0 10px;">
                            {{this.cartProducts.CartItem.quantity}}

                        </span>

                        
                        <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/add" method="POST">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
                        </form>
                        </div>
                        
                    </td>
                    <td>${{this.cartProducts.price}}</td>
                    <td>
                        {{this.cartProducts.CartItem.quantity}}
                        *
                        {{this.cartProducts.price}}
                    </td>
                    <td>
                        <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/delete?_method=DELETE"
                            method="POST">
                            <button type="submit" class="btn">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>

                    </td>
                </tr>
                {{/each}}

                <tr>
                <th scope="row"></th>
                <td colspan="4"></td>
                <td>Total:</td>
                <td>${{totalPrice}}</td>
            </tr>
            </tbody>

        </table>
        <thead>
           

        </thead>
        <div>
            <a class="btn btn-secondary" href="/products">Continue Shopping</a>
            <a class="btn btn-primary" href="/carts/checkout">Add Shopping Info</a>

        </div>


</div>