<div class="container" style="max-width: 950px;">
    <div class="step-container d-flex justify-content-center mt-5 mb-3">
        <div class="step">
            <div class="circle-container"></div>
            <div class="label-container">確認商品</div>
        </div>
        <div class="step active">
            <div class="circle-container"></div>
            <div class="label-container">填寫個人資料</div>
            <span class="connect-line"></span>
        </div>
        <div class="step ">
            <div class="circle-container"></div>
            <div class="label-container">完成訂單</div>
            <span class="connect-line"></span>
        </div>
    </div>
    <div class="shipping-info mt-5">
        <div class="table-title">填寫個人資料</div>
        <form action="/orders" method="POST">
            <div class="form-wrapper d-flex justify-content-between">
                <div class="info-wrapper">
                    <div class="form-row">
                        <label for="name" class="form-label">姓名</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="請輸入姓名" required>
                    </div>
                    <div class="form-row">
                        <label for="phone" class="form-label">電話</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="請輸入電話" required>
                    </div>
                    <div class="form-row info-address">
                        <label for="address" class="form-label">地址</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="請輸入地址"
                            required>
                    </div>
                    <input type="hidden" name="cartId" value="{{cart.id}}">
                    <input type="hidden" name="amount" value="{{totalPrice}}">
                    <input type="hidden" name="shipping_status" value="0">
                    <input type="hidden" name="payment_status" value="0">
                </div>
                <div class="card-wrapper">
                    {{#each carts}}
                    <div class="item-card d-flex">
                        <img class="item-img" src=" {{this.cartProducts.image}}" alt="">
                        <div class="card-info ">
                            <div class="item-name">品名： {{this.cartProducts.name}}</div>
                            <div class="item-quantity">數量： {{this.cartProducts.CartItem.quantity}}</div>

                            <div class="subtotal">小計： {{this.cartProducts.CartItem.quantity}}
                                *
                                ${{this.cartProducts.price}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>


            <div class="control-wrapper d-flex justify-content-end">
                <a class="prev-step" href="/carts">上一步</a>
                <button type="submit" class="next-step" href="">送出資料</button>
            </div>

        </form>



    </div>



</div>