<h1>Carts</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Cart ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Remove</th>

        </tr>
    </thead>

    <tbody>
        {{#each carts}}
        <tr>
            <td> #{{this.id}}</td>
            <td>
                <img src="{{this.cartProducts.image}}" alt="" width="200px">
            </td>
            <td>{{this.cartProducts.name}}</td>
           <td>
                <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/sub" method="POST">
                <button type="submit">-</button>    
                </form>
                
                {{this.cartProducts.CartItem.quantity}}
                <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/add" method="POST">
                <button type="submit">+</button>    
                </form>
            </td>
            <td>${{this.cartProducts.price}}</td>
            <td>
                {{this.cartProducts.CartItem.quantity}}
                *
                {{this.cartProducts.price}}
            </td>
            <td>
                <button>Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>
<thead>
    <tr>
        <th scope="row"></th>
        <td colspan="2"></td>
        <td>Total:</td>
        <td>${{totalPrice}}</td>
    </tr>

</thead>

<form class="" action="" >

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name">
    
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone">
  </div>
   <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" name="address">
  </div>





  <button type="submit" class="btn btn-primary">結帳</button>

</form>