<h1>Carts</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Cart ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Remove</th>

        </tr>
    </thead>

    <tbody>
        {{#each carts}}
        <tr>
            <td> #{{this.id}}</td>
            <td>
                <img src="{{this.cartProducts.image}}" alt="" width="200px">
            </td>
            <td>{{this.cartProducts.name}}</td>
            <td>
                <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/sub">
                <button type="submit">-</button>    
                </form>
                
                {{this.cartProducts.CartItem.quantity}}
                <form action="/carts/cartItem/{{this.cartProducts.CartItem.id}}/add" method="POST">
                <button type="submit">+</button>    
                </form>
            </td>
            <td>${{this.cartProducts.price}}</td>
            <td>
                {{this.cartProducts.CartItem.quantity}}
                *
                {{this.cartProducts.price}}
            </td>
            <td>
                <button>Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>
<thead>
    <tr>
        <th scope="row"></th>
        <td colspan="2"></td>
        <td>Total:</td>
        <td>${{totalPrice}}</td>
    </tr>

</thead>
<div>
    <a class="btn btn-primary" href="/products">Continue Shopping</a>
    <a class="btn btn-secondary" href="/carts/checkout">Order</a>

</div>