
<div class="order-container">
{{#each orders}}
<div class="p-5">
    <table class="table order-table">
        <thead>
            <tr>
                <th scope="col">訂單編號</th>
                <th scope="col">總金額</th>
                <th scope="col">付款狀態</th>
                <th scope="col">運輸狀態</th>
                <th scope="col">取消訂單</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.id}}</td>

                <td>$ {{this.amount}}</td>
                <td>
                    {{#ifCond this.payment_status '0'}}
                    <form action="/orders/{{this.id}}/payment">
                        <button class="btn btn-primary">前往付款</button>
                    </form>
                    {{else}}
                    {{#ifCond this.payment_status '1'}}
                    完成付款
                    {{else}}
                    已取消
                    {{/ifCond}}
                    {{/ifCond}}
                </td>
                <td>
                    {{#ifCond this.shipping_status '0'}}
                    準備中
                    {{else}}
                    已取消
                    {{/ifCond}}
                </td>
                <td>
                    {{#ifCond this.shipping_status '0'}}
                    <form action="/orders/{{this.id}}/cancel?_method=PUT" method="POST">
                        <button class="btn btn-primary"> 取消</button>
                    </form>

                    {{else}}
                    已取消
                    {{/ifCond}}
                </td>
            </tr>




        </tbody>
    </table>
    <div class="order-detail-title">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#order{{this.id}}" aria-expanded="true" aria-controls="{{this.id}}">
            + 明細
        </button>

    </div>
    <div class="collapse p-3 order-detail" id="order{{this.id}}">
        <div class="detail-wrapper">
             <table class="table" style="vertical-align: middle; width:700px; ">
            <thead style="text-align: center;">
                <th>商品名稱</th>
                <th scope="col">價格</th>
                <th scope="col">數量</th>
                <th scope="col">小計</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">

                {{#each this.orderProducts}}
                <tr>
                    <th scope="row" class="d-flex align-items-center ">
                        <img src="{{this.image}}" style="width: 100px;" alt="">
                        <p style="margin: 0 20px;">
                            {{this.name}}
                        </p>
                    </th>
                    <td>{{this.price}}</td>
                    <td>{{this.OrderItem.quantity}}</td>
                    <td>${{this.price}} * {{this.OrderItem.quantity}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="order-list">
            <li class="list-item d-flex">
                <div class="item-title">訂購人姓名</div>
                <div class="item-text">{{this.name}}</div>
                </li>
            <li class="list-item d-flex">
                <div class="item-title">配送地址</div>
                <div class="item-text">{{this.address}}</div>
                </li>
            <li class="list-item d-flex">
                <div class="item-title">連絡電話</div>
                <div class="item-text">{{this.phone}}</div>
            </li>
        </div>

        </div>
       
    </div>

</div>

{{/each}}

</div>
