<div class="container" style="max-width: 950px;">
    <div class="step-container d-flex justify-content-center mt-5 mb-3">
        <div class="step ">
            <div class="circle-container"></div>
            <div class="label-container">確認商品</div>
        </div>
        <div class="step ">
            <div class="circle-container"></div>
            <div class="label-container">填寫個人資料</div>
            <span class="connect-line"></span>
        </div>
        <div class="step active">
            <div class="circle-container"></div>
            <div class="label-container">完成訂單</div>
            <span class="connect-line"></span>
        </div>
    </div>


    <div class="payment-wrapper">
        <div class="table-title">完成訂單</div>
        <ul >
            <li class="list-group-item">訂單編號: {{order.id}}</li>
            <li class="list-group-item">總金額: $ {{order.amount}}</li>
            <li class="list-group-item">姓名: {{order.name}}</li>
            <li class="list-group-item">電話: {{order.phone}}</li>
            <li class="list-group-item">地址: {{order.address}}</li>
        </ul>
            <form action="{{tradeInfo.PayGateWay}}" method="POST">
                <input type="text" name="MerchantID" value="{{tradeInfo.MerchantID}}" hidden>
                <input type="text" name="TradeInfo" value="{{tradeInfo.TradeInfo}}" hidden>
                <input type="text" name="TradeSha" value="{{tradeInfo.TradeSha}}" hidden>
                <input type="text" name="Version" value="{{tradeInfo.version}}" hidden>


                <div class="control-wrapper d-flex justify-content-end">
                <a class="prev-step" href="/orders">返回</a>
                  <button class="next-step" type="submit" >前往付款</button>
            </div>

            </form>
    </div>
</div>